<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Page</title>
    <link rel="stylesheet" href="../css/friend_page.css">
    <script src="/socket.io/socket.io.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div class="friend_list">
        <h2><%= user.name %> Friends</h2>
        <% if (user.friendlist && user.friendlist.length > 0) { %>
            <% user.friendlist.forEach(function(friend) { %>
                <div class="friend_list_module" onmouseover="hoverFunction()">
                    <img src="../images/logo.png" alt="avatar">
                    <h4><%= friend%></h4>
                    <button onclick="initiateCall('<%= JSON.stringify(friend)%>')">Call</button>

                </div>
            <% }) %>
        <% } else { %>
            <p>You have no friends added.</p>
        <% } %>

    </div>
    <div class="friend_list_footer">
        <img src="../images/logo.png" alt="avatar">
        <h3><%= user.name %> </h3>
        <a href="/addFriend"><button class="btn btn-primary">Add Friend</button></a>
    </div>
    <div id="messageDisplayContainer" class="col-7 p-0">
        <div id="messageDisplayArea" class="col-12 p-3">
            <p class = "channel-title"></p> 
        </div>
        <div class="mt-3 col-12">
            <form id="messageForm" class="d-flex justify-content-between">
                <input type="text" class="form-control me-2" id="messageInput" placeholder="Type a message..." style="flex-grow: 1;">
                <button type="submit" class="btn btn-primary mb-2">Send</button>
            </form>
        </div>
    </div>

    <video id="localVideo" autoplay muted ></video>
    <video id="remoteVideo" autoplay></video>

    <script src="/socket.io/socket.io.js"></script>
    <script src="JS/chat.js"></script> //week 14 branch
    <script>
        function clearMessages(){
            document.getElementById('messageDisplayArea').innerHTML = ''; 
        }
        // Javascript for friend_list_module border to show up upon hover.
        function hoverFunction() {
            var modules = document.getElementsByClassName("friend_list_module");
            for (var i = 0; i < modules.length; i++) {
                modules[i].onmouseover = function() {
                    this.style.border = "3px solid grey";
                };
                modules[i].onmouseout = function() {
                    this.style.border = "none";
                };
            }
        }
        document.addEventListener('DOMContentLoaded', () => {
            const userSend = JSON.parse('<%- JSON.stringify(user) %>')
            const userReceive = document.querySelector('.friend_list_module h4').textContent;
            const messageDisplayArea = document.getElementById('messageDisplayArea');
            console.log(userSend)
            console.log(userReceive)
            var socket = io();
            socket.on('connection', function() {
                console.log('Connected to server');
            });
            const messageForm = document.getElementById('messageForm');
            const messageInput = document.getElementById('messageInput');
            function displayMessage(message, user) {
                const messageList = document.getElementById('messageDisplayArea');
                const messageElement = document.createElement('div');
                messageElement.classList.add('message');
                messageElement.innerHTML = `<strong>${user}</strong>: ${message}`;
                messageList.appendChild(messageElement);
            }
            socket.on('receive-message2', (message) => {
                displayMessage(message, 'OtherUser');
            });
            messageForm.addEventListener('submit', function(e) {
            e.preventDefault();
            socket.emit('send-message2', messageInput.value);
            displayMessage(messageInput.value, 'You');
            });

        });

    </script>
</body>
</html>

